<html>
    <head>
        <title>#if($action.isXmlField())$i18n.getText('requestedfields.config.titleXML')#else$i18n.getText('requestedfields.config.titleJSON')#end</title>
        <meta content="admin" name="decorator"/>
        <meta content="admin" name="decorator"/>
        <meta name="admin.active.section" content="admin_issues_menu/element_options_section/fields_section"/>
        <meta name="admin.active.tab" content="view_custom_fields"/>
        <script language="javascript">
            jQuery(document).ready(function() {
                jQuery('#reqType').change(function() {
                    if (jQuery(this).val() == "get") {
                        jQuery('#reqData').attr("readonly", true);
                        jQuery('#reqData').val("");
                    } else {
                        jQuery('#reqData').attr("readonly", false);
                        jQuery('#reqData').val(jQuery('#reqDataHidden').val());
                    }
                });
            });
        </script>
    </head>
    <body class="aui">
        #if($action.hasAnyErrors())
        <div class="aui-message error">
            <p class="title">
                <span class="aui-icon icon-error"></span>
                <strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.error")</strong>
            </p>
            #foreach($error in $action.getErrorMessages())<p>${error}</p>#end
        </div>
        #end
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h2>
                        #if($action.isXmlField())
                        $i18n.getText('requestedfields.config.titleXML')
                        #else
                        $i18n.getText('requestedfields.config.titleJSON')
                        #end
                    </h2>
                    <p class="description">
                        #if($action.isXmlField())
                        $i18n.getText('requestedfields.config.usageXML')
                        #else
                        $i18n.getText('requestedfields.config.usageJSON')
                        #end
                    </p>
                </div>
            </div>
        </header>
        <form class="aui" action="EditRequestFieldConfig.jspa" method="post">
            <input type="hidden" name="atl_token" value="${atl_token}"/>
            <input type="hidden" name="fieldConfigId" value="${fieldConfigId}"/>
            <input type="hidden" id="reqDataHidden" name="reqDataHidden" value="$!action.getReqData()">
            <div class="field-group">
                <label for="url">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.url")<span class="aui-icon icon-required"/></label>
                <input type="text" class="text long-field" name="url" id="url" value="$!{action.getUrl()}"/>
                #if($action.getErrors().containsKey("url"))
                <div class="error">$action.getErrors().get("url")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.url.desc")</div>
            </div>
            <div class="field-group">
                <label for="user">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.user")</label>
                <input type="text" class="text" name="user" id="user" value="$!{action.getUser()}"/>
                #if($action.getErrors().containsKey("user"))
                <div class="error">$action.getErrors().get("user")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.user.desc")</div>
            </div>
            <div class="field-group">
                <label for="password">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.password")</label>
                <input type="password" class="password" name="password" id="password" value="$!{action.getPassword()}"/>
                #if($action.getErrors().containsKey("password"))
                <div class="error">$action.getErrors().get("password")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.password.desc")</div>
            </div>
            <div class="field-group">
                <label for="reqType">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.reqtype")<span class="aui-icon icon-required"/></label>
                <select class="select" id="reqType" name="reqType">
                    <option #if($action.getReqType() == "GET")selected="selected"#end value="GET">GET</option>
                    <option #if($action.getReqType() == "POST")selected="selected"#end value="POST">POST</option>
                </select>
                #if($action.getErrors().containsKey("reqType"))
                <div class="error">$action.getErrors().get("reqType")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.reqtype.desc")</div>
            </div>
            <div class="field-group">
                <label for="reqHeaders">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.headers")</label>
                <textarea class="textarea" name="reqHeaders" id="reqHeaders" cols="120" rows="10">$!{action.getReqHeaders()}</textarea>
                #if($action.getErrors().containsKey("reqHeaders"))
                <div class="error">$action.getErrors().get("reqHeaders")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.headers.desc")</div>
            </div>
            <div class="field-group">
                <label for="reqData">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.reqdata")</label>
                <textarea class="textarea" name="reqData" id="reqData" cols="120" rows="10">$!{action.getReqData()}</textarea>
                #if($action.getErrors().containsKey("reqData"))
                <div class="error">$action.getErrors().get("reqData")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.reqdata.desc")</div>
            </div>
            <div class="field-group">
                <label for="reqPath">#if($action.isXmlField())$i18n.getText('ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.reqPath.xml')#else$i18n.getText('ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.reqPath.json')#end<span class="aui-icon icon-required"/></label>
                <input type="text" class="text long-field" name="reqPath" id="reqPath" value="$!{action.getReqPath()}"/>
                #if($action.getErrors().containsKey("reqPath"))
                <div class="error">$action.getErrors().get("reqPath")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.reqPath.desc")</div>
            </div>
            <div class="field-group">
                <label for="sortOrder">$i18n.getText('ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.sortOrder')<span class="aui-icon icon-required"/></label>
                <select class="select" id="sortOrder" name="sortOrder">
                    <option #if($action.getSortOrder() == "ASC")selected="selected"#end value="ASC">$i18n.getText('ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.sortOrder.asc')</option>
                    <option #if($action.getSortOrder() == "DESC")selected="selected"#end value="DESC">$i18n.getText('ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.sortOrder.des')</option>
                    <option #if($action.getSortOrder() == "NATURAL")selected="selected"#end value="NATURAL">$i18n.getText('ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.sortOrder.natural')</option>
                </select>
                #if($action.getErrors().containsKey("sortOrder"))
                    <div class="error">$action.getErrors().get("sortOrder")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.sortOrder.desc")</div>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input type="submit" class="aui-button" accesskey="s" id="set_defaults_submit" value='$i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.save")'>
                    <a accesskey="`" class="aui-button aui-button-link" id="cancelButton" href="ConfigureCustomField!default.jspa?customFieldId=${action.getCustomField().getIdAsLong().toString()}">
                        $i18n.getText("ru.andreymarkelov.atlas.plugins.requestedfields.fieldconfig.cancel")
                    </a>
                </div>
            </div>
        </form>
    </body>
</html>
