#disable_html_escaping()
#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if ($displayParameters.defaultScreen)
    <input class="text" id="$customField.id" maxlength="254" name="$customField.id"${style} type="text" value="$textutils.htmlEncode($!value)"/>
#else
    #if($notconfigured)
        <div class="formErrors">$i18n.getText("requestedfields.settings.error")</div>
    #elseif($error)
        <div class="formErrors">$textutils.htmlEncode($!error)</div>
    #else
        <select class="select" name="$customField.id" id="$customField.id">
            #foreach($val in $vals)<option #if($value && $value == $val)selected="selected"#end value="$val">$val</option>#end
        </select>
    #end
#end
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)
