#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if ($displayParameters.defaultScreen)
    <input class="text" id="$customField.id" maxlength="254" name="$customField.id"${style} type="text" value="$textutils.htmlEncode($!value)"/>
#else
    #if($notconfigured)
        <div class="formErrors">$i18n.getText("requestedfields.settings.error")</div>
    #elseif($error)
        <div class="formErrors">$textutils.htmlEncode($!error)</div>
    #else
        <input id="${customField.id}" name="${customField.id}" type="hidden" #if($value)value="$value"#elsevalue="[]"#end/>
        <select class="select" multiple="multiple" name="${customField.id}-sel" id="${customField.id}-sel">
            #foreach($val in $vals)<option #if($list.contains($val))selected="selected"#end value="$val">$val</option>#end
        </select>
        <script language="javascript">
            jQuery(document).ready(function() {
                multixmlupdate();
                JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function(e, context, reason) {
                    multixmlupdate();
                });
            });

            function multixmlupdate() {
                jQuery("#${customField.id}-sel").change(function() {
                    var data = jQuery(this).val();
                    var arrdata = new Array();
                    jQuery.each(data, function(index, value) {
                        arrdata.push(value);
                    });
                    jQuery("#${customField.id}").val(JSON.stringify(arrdata));
                });
            }
        </script>
    #end
#end
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)
